@model Management.ViewModel.Product.CreateProductInput
@{
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name,"", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(m => m.Price)
                @Html.EditorFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price,"", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Quantity)
                @Html.EditorFor(m => m.Quantity)
                @Html.ValidationMessageFor(m => m.Quantity,"", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(m => m.Description)
                @Html.EditorFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description,"", new { @class = "text-danger" })
            </div>

            <div class="form-group ">
                @Html.LabelFor(m => m.CategoryId)
                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, "Chọn loại", new { @class = "form -control" })
                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            </div>


            <div class="form-group ">
                @Html.LabelFor(m => m.Image)
                <input type="file" id="file" name="UploadImage" style="width:100%" />
                @*@Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })*@
            </div>
            <div>
                <input type="submit" value="Create" />
                <span class="btn btn-link">@Html.ActionLink("Back to List", "Index") </span>
            </div>
        </div>

    }
}