@model Management.ViewModel.Product.CreateProductInput
@{
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.EditorFor(m => m.Name)</p>
        <p>@Html.LabelFor(m => m.Price)</p>
        <p>@Html.EditorFor(m => m.Price)</p>
        <p>@Html.LabelFor(m => m.Quantity)</p>
        <p>@Html.EditorFor(m => m.Quantity)</p>
        <p>@Html.LabelFor(m => m.Description)</p>
        <p>@Html.EditorFor(m => m.Description)</p>
        
            <div class="form-group">
            <label>@Html.LabelFor(m => m.CategoryName)</label>
            <p>
                @Html.DropDownListFor(m => m.CategoryId , new SelectList(ViewBag.Categories, "Id", "Name"))
            </p> 
        </div>
        
        <div class="form-group">
            <label>@Html.LabelFor(m => m.Image)</label>
            <input type="file" id="file" name="UploadImage" style="width:100%;" />
        </div>

        <input type="submit" value="create" />
    }
}