@model IEnumerable<Management.ViewModel.Product.ProductDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <a href="@Url.ActionLink("Create","Product")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Create Product
        </a>
    </div>
    <div class="text-center">
        <div class="paddingtop rl" style="padding-bottom: 20px;">
            @if (Model.Count() > 0)
            {
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                @foreach (var item in Model)
                {
                    <div>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        <img src="@Url.Content(item.Image)" width="100" height="100" style="border-radius: 10px;" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td style="display: flex;align-content: center;flex-wrap: wrap;flex-direction: column;">
                                        <a href="@Url.ActionLink("Edit","Product",new { id = item.Id })" class="btn btn-sm btn-warning" style="margin-bottom: 5px;">Edit</a>
                                        <a href="@Url.ActionLink("Delete","Product",new { id = item.Id })" class="btn btn-sm btn-danger" style="margin-bottom: 5px;">Delete</a>
                                        <a href="@Url.ActionLink("Detail","Product",new { id = item.Id })" class="btn btn-sm btn-info" style="margin-bottom: 5px;">Detail</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                <p>No data</p>
            }
        </div>
    </div>
}

