@model Management.ViewModel.Categories.DetailCategoryDTO
@{
    if(Model != null)
    {
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.ID)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <span class="btn btn-link">@Html.ActionLink("Back to List", "Index") </span>
    </dl>

    }
    else
    {
        <p>No data</p>
    }
}
