@model Management.ViewModel.User.CreateUserInput

@{
    @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.EditorFor(m => m.Name)</p>
        <p>@Html.ValidationMessageFor(m => m.Name)</p>
        <p>@Html.LabelFor(m => m.Email)</p>
        <p>@Html.EditorFor(m => m.Email)</p>
        <p>@Html.ValidationMessageFor(m => m.Email)</p>
        <p>@Html.LabelFor(m => m.Password)</p>
        <p>@Html.EditorFor(m => m.Password)</p>
        <p>@Html.ValidationMessageFor(m => m.Password)</p>
        <p>@Html.LabelFor(m => m.ComfirmPassword)</p>
        <p>@Html.EditorFor(m => m.ComfirmPassword)</p>
        <p>@Html.ValidationMessageFor(m => m.ComfirmPassword)</p>
        if(ViewBag.Info != null)
        {
            <p>@ViewBag.Info</p>
        }
        <input type="submit" value="Đăng ký" />
    }
}
